<!DOCTYPE html>
<html>
<head>

  <title>Meddelanden</title>

  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="initial-scale=0.5, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="stylesheet" href="dist/css/app.css">

</head>

<body>

  <div class="app" ng-app="app">
    <div class="app__views">
      <section
        class="view view--dialogues"
        ng-controller="DialoguesCtrl">
        <div class="view__content">
          <dialogue-search></dialogue-search>
          <div class="dialogues">
            <dialogue
              ng-repeat="dialogue in dialogues"
              ng-class="{ 'is-selected': isSelected(dialogue) }">
            </dialogue>
          </div>
        </div>
      </section>
      <section
        class="view view--messages"
        ng-controller="MessagesCtrl"
        ng-show="dialogue">
        <div class="view__content">
          <div class="messages">
            <message
              ng-repeat="message in dialogue.messages"
              ng-class="[getTypeClass(message), getSelectedClass(message)]">
            </message>
          </div>
          <message-actions
            ng-show="isActionsVisible"
            ng-style="actionsPosition">
          </message-actions>
          <message-composer></message-composer>
        </div>
      </section>
    </div>
  </div>

  <script src="dist/js/app.js"></script>

</body>

</html>