@import "modules/all";

.is-selected {
  color: white;
  background-color: blue;
}
.is-active {
  color: red;
}

.app {
  width: 400px;
  height: 400px;
  position: relative;
}
.view--messages {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
  .view__content {
    position: relative;
  }
}