@import "modules/all";

.is-selected {
  color: white;
  background-color: blue;
}
.is-active {
  color: red;
}

.app {
  width: 400px;
  height: 400px;
  position: relative;
}
.view--messages {
  position: relative;
}